/*
Dependencies
-------------------------------------*/
/*
Basics
-------------------------------------*/
body {
  font-family: arial;
  margin: auto; }

.page-container {
  height: 2000px;
  width: 100%;
  -webkit-transform: translateY(400px);
  -ms-transform: translateY(400px);
  transform: translateY(400px);
  background-color: white; }

h1, h2, h3, h4, ul, li {
  margin: 0; }

h1 {
  font-size: 2.4rem; }

h2 {
  font-size: 2.0rem; }

h3 {
  font-size: 1.8rem; }

h4 {
  font-size: 1.4rem; }

/*
Parts
-------------------------------------*/
.hero {
  height: 400px;
  width: 100%;
  background: -webkit-linear-gradient(135deg, #84fab0, #8fd3f4);
  background: -o-linear-gradient(135deg, #84fab0, #8fd3f4);
  background: linear-gradient(-45deg, #84fab0, #8fd3f4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  z-index: -1; }
  .hero .scroll {
    -webkit-filter: blur(15px);
    filter: blur(15px); }
  .hero-content {
    color: white;
    text-align: center;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s; }
    .hero-content h2 {
      -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      transform: translateY(-100%);
      opacity: 0;
      -webkit-transition: opacity .5s, -webkit-transform 1s;
      transition: opacity .5s, -webkit-transform 1s;
      -o-transition: transform 1s, opacity .5s;
      transition: transform 1s, opacity .5s;
      transition: transform 1s, opacity .5s, -webkit-transform 1s; }
    .hero-content .show {
      opacity: 1;
      -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
      transform: translateY(50%); }
  .hero #hero-tag-list {
    display: none; }

header {
  height: 40px;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  width: 100%;
  top: 0; }
  header .menu-primary-nav-container {
    max-width: 500px;
    margin: auto;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%); }
    header .menu-primary-nav-container ul {
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      list-style-type: none;
      padding-left: 0px;
      z-index: 99; }
      header .menu-primary-nav-container ul li a {
        color: white; }

/*
Pages
-------------------------------------*/
