/*
Dependencies
-------------------------------------*/
/*
Basics
-------------------------------------*/
body {
  font-family: arial;
  margin: auto; }

h1, h2, h3, h4, ul, li {
  margin: 0; }

h1 {
  font-size: 2.4rem; }

h2 {
  font-size: 2.0rem; }

h3 {
  font-size: 1.8rem; }

h4 {
  font-size: 1.4rem; }

/*
Parts
-------------------------------------*/
.hero {
  height: 400px;
  background: -webkit-linear-gradient(135deg, #84fab0, #8fd3f4);
  background: -o-linear-gradient(135deg, #84fab0, #8fd3f4);
  background: linear-gradient(-45deg, #84fab0, #8fd3f4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .hero-content {
    color: white;
    text-align: center; }
    .hero-content h2 {
      -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      transform: translateY(-100%);
      opacity: 0;
      -webkit-transition: opacity .5s, -webkit-transform 1s;
      transition: opacity .5s, -webkit-transform 1s;
      -o-transition: transform 1s, opacity .5s;
      transition: transform 1s, opacity .5s;
      transition: transform 1s, opacity .5s, -webkit-transform 1s; }
    .hero-content .show {
      opacity: 1;
      -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
      transform: translateY(50%); }
  .hero #hero-tag-list {
    display: none; }

header {
  height: 40px;
  -webkit-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  transform: translateY(-40px);
  width: 100%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  header ul {
    height: 100%;
    list-style-type: none;
    padding-left: 0px;
    z-index: 99; }

/*
Pages
-------------------------------------*/
