
.hero
  height: 400px
  background: linear-gradient(-45deg, $gd-greenblue)
  display: flex
  align-items: center
  justify-content: center

  &-content
    color: white

  #hero-tag-list
    display: none
