/*
dependencies
-------------------------------------*/
.full {
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px; }

.half {
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px; }
  @media only screen and (min-width: 700px) {
    .half {
      width: calc(50% - 30px);
      float: left;
      margin-left: 20px; }
      .half:nth-child(2n+1) {
        clear: left; } }

.third {
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px; }
  @media only screen and (min-width: 700px) {
    .third {
      width: calc(33.3333333333% - 26.6666666667px);
      float: left;
      margin-left: 20px; } }

.two-third {
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px; }
  @media only screen and (min-width: 700px) {
    .two-third {
      width: calc(66.6666666667% - 33.3333333333px);
      float: left;
      margin-left: 20px; } }

* {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat; }

html {
  font-size: 62.5%;
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  overflow-y: scroll;
  /* Keeps page centered in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */ }

*,
*:before,
*:after {
  /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
  box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

a img {
  border: none; }

/*
basics
-------------------------------------*/
body {
  font-size: 1.6rem; }

body, html {
  margin: 0;
  background: #F6F8FB;
  color: #293439;
  font-family: "Merriweather", sans-serif;
  font-weight: 400; }

.container-all {
  overflow: hidden; }

.container-page {
  max-width: 1440px;
  margin: auto;
  background-color: #FFFFFF;
  padding-top: 60px; }

.container {
  margin: 0 auto;
  max-width: 800px;
  padding: 5%; }

.header-container::after {
  clear: both;
  content: "";
  display: block; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45); }

section {
  padding: 52px 0;
  position: relative; }

.content-wrapper {
  margin: 0 auto;
  padding: 26px;
  max-width: 650px;
  text-align: center; }

.gigantic, .huge, .large, .bigger, .big, .smallish,
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: "Merriweather", sans-serif;
  color: #293439;
  line-height: 1.3;
  margin-top: 52px; }
  .gigantic:first-child, .huge:first-child, .large:first-child, .bigger:first-child, .big:first-child, .smallish:first-child,
  h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0; }

.gigantic {
  font-size: 110px; }

.huge, h1 {
  font-size: 4rem; }

.large, h2 {
  font-size: 3.5rem; }

.bigger, h3 {
  font-size: 3rem; }

.big, h4 {
  font-size: 2rem; }

.medium, h5 {
  font-size: 2rem; }

.smallish, h6 {
  font-size: 2rem; }

.small, small {
  font-size: 1.2rem; }

p, em, strong, blockquote {
  line-height: 1.8;
  margin-top: 26px; }

em {
  font-style: italic; }

strong {
  font-weight: 700; }

hr {
  border: none;
  border-bottom: 2px solid #293439;
  clear: both;
  margin: 0;
  margin-bottom: 26px;
  padding-top: 26px;
  height: 0; }

blockquote {
  border-radius: 5px;
  padding: 52px;
  background-color: #293439;
  color: #F6F8FB;
  margin-bottom: 26px; }
  blockquote strong {
    color: #293439; }

/* lists */
ol, ul {
  margin-top: 26px;
  padding-left: 26px; }
  ol.no-bullets, ul.no-bullets {
    list-style: none;
    padding-left: 0; }

li {
  line-height: 26px; }

pre {
  font-size: 1.6rem;
  color: #f54646; }

img {
  display: block;
  margin: 0;
  max-width: 100%; }

.alignright {
  float: right;
  margin: 26px;
  margin-right: 0; }

.alignleft {
  float: left;
  margin: 26px;
  margin-left: 0; }

.aligncenter {
  display: block;
  margin: 26px auto; }

div.wp-caption {
  margin-top: 0; }
  div.wp-caption .wp-caption-text,
  div.wp-caption .wp-caption-dd {
    background-color: #7F909A;
    color: #293439;
    width: 100%;
    padding: 10px; }

a {
  color: #5CB99C;
  line-height: 26px;
  transition: all 0.25s 0s ease-in-out; }
  a:hover, a:focus, a:active {
    color: #449e82; }

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  margin-top: 26px;
  padding: 0 20px 0 20px;
  color: #293439;
  text-align: left;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: capitalize;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid #293439;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.25s 0s ease-in-out; }
  .button:hover,
  button:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  input[type="button"]:hover {
    background-color: #293439;
    color: white; }
  .button:focus,
  button:focus,
  input[type="submit"]:focus,
  input[type="reset"]:focus,
  input[type="button"]:focus {
    outline: 0; }
  .button.error,
  button.error,
  input[type="submit"].error,
  input[type="reset"].error,
  input[type="button"].error {
    background-color: #f54646; }
    .button.error:hover, .button.error:active, .button.error:focus,
    button.error:hover,
    button.error:active,
    button.error:focus,
    input[type="submit"].error:hover,
    input[type="submit"].error:active,
    input[type="submit"].error:focus,
    input[type="reset"].error:hover,
    input[type="reset"].error:active,
    input[type="reset"].error:focus,
    input[type="button"].error:hover,
    input[type="button"].error:active,
    input[type="button"].error:focus {
      background-color: #f21616; }
  .button.warning,
  button.warning,
  input[type="submit"].warning,
  input[type="reset"].warning,
  input[type="button"].warning {
    background-color: #ff9334; }
    .button.warning:hover, .button.warning:active, .button.warning:focus,
    button.warning:hover,
    button.warning:active,
    button.warning:focus,
    input[type="submit"].warning:hover,
    input[type="submit"].warning:active,
    input[type="submit"].warning:focus,
    input[type="reset"].warning:hover,
    input[type="reset"].warning:active,
    input[type="reset"].warning:focus,
    input[type="button"].warning:hover,
    input[type="button"].warning:active,
    input[type="button"].warning:focus {
      background-color: #ff7801; }
  .button.success,
  button.success,
  input[type="submit"].success,
  input[type="reset"].success,
  input[type="button"].success {
    background-color: #5CB99C; }
    .button.success:hover, .button.success:active, .button.success:focus,
    button.success:hover,
    button.success:active,
    button.success:focus,
    input[type="submit"].success:hover,
    input[type="submit"].success:active,
    input[type="submit"].success:focus,
    input[type="reset"].success:hover,
    input[type="reset"].success:active,
    input[type="reset"].success:focus,
    input[type="button"].success:hover,
    input[type="button"].success:active,
    input[type="button"].success:focus {
      background-color: #449e82; }

form {
  margin-bottom: 26px; }
  form ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  form li {
    margin-bottom: 10px;
    clear: both;
    transition: all 0.25s 0s ease-in-out; }

input,
select,
textarea {
  border-radius: 5px;
  border: 1px solid #293439;
  margin-bottom: 5px;
  font-family: inherit;
  font-size: 1.6rem !important;
  line-height: 1;
  max-width: 100%;
  color: #293439;
  background-color: #F6F8FB;
  transition: all 0.25s 0s ease-in-out; }
  input::-webkit-input-placeholder,
  select::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #7F909A;
    font-family: "Merriweather", sans-serif; }
  input:-moz-placeholder,
  select:-moz-placeholder,
  textarea:-moz-placeholder {
    color: #7F909A;
    font-family: "Merriweather", sans-serif; }
  input::-moz-placeholder,
  select::-moz-placeholder,
  textarea::-moz-placeholder {
    color: #7F909A;
    font-family: "Merriweather", sans-serif; }
  input:-ms-input-placeholder,
  select:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: #7F909A;
    font-family: "Merriweather", sans-serif; }

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea,
select {
  padding: 10px;
  width: 100%; }

textarea {
  overflow: auto;
  vertical-align: top; }

textarea:focus,
input:focus {
  outline: 0;
  background-color: #d5dadd; }

button[disabled],
input[disabled],
select[disabled],
textarea[disabled] {
  cursor: default;
  opacity: .5; }

label {
  font-size: 1.3rem;
  display: block;
  padding: 5px;
  margin: 0;
  border: none; }

input[type="submit"] {
  background-color: #F6F8FB;
  margin: 0 auto;
  display: block;
  width: 120px !important;
  display: flex !important;
  justify-content: center; }
  input[type="submit"]:hover {
    background-color: #7F909A; }

select {
  -webkit-appearance: menulist;
  cursor: pointer;
  display: block;
  outline: none;
  position: relative;
  vertical-align: middle;
  z-index: 5;
  border-radius: 0;
  width: 100%;
  height: 52px;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

input[type="radio"] {
  appearance: radio; }

input[type="checkbox"] {
  appearance: checkbox; }

ul[class*="checkbox"] input,
ul[class*="radio"] input {
  margin-right: 26px; }

ul[class*="checkbox"] label,
ul[class*="radio"] label {
  font-size: 1.6rem;
  color: #293439; }

ul[class*="checkbox"] li,
ul[class*="radio"] li {
  border-radius: 5px;
  border: 1px solid #293439;
  margin-bottom: 5px;
  font-family: inherit;
  font-size: 1.6rem !important;
  line-height: 1;
  max-width: 100%;
  color: #293439;
  background-color: #F6F8FB;
  position: relative;
  margin-bottom: 10px; }
  ul[class*="checkbox"] li input, ul[class*="checkbox"] li label,
  ul[class*="radio"] li input,
  ul[class*="radio"] li label {
    display: block;
    padding: 10px;
    padding-left: 30px;
    margin: 0;
    vertical-align: middle; }
  ul[class*="checkbox"] li input,
  ul[class*="radio"] li input {
    height: 18px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) ;
    margin-left: 10px; }

.form .gform_body .ginput_container input {
  width: 100%; }

.gform_wrapper {
  max-width: 100%;
  overflow: visible;
  margin-bottom: 0; }
  .gform_wrapper .gform_anchor::before {
    content: '';
    display: block;
    width: 0;
    height: 100px;
    margin: -100px 0 0; }
  .gform_wrapper form .gform_body {
    margin: auto; }
    .gform_wrapper form .gform_body ul.gform_fields li.gfield label.gfield_label {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0; }
    .gform_wrapper form .gform_body ul.gform_fields li.gfield .ginput_container {
      width: 100%; }
      .gform_wrapper form .gform_body ul.gform_fields li.gfield .ginput_container input {
        width: 100%; }
      .gform_wrapper form .gform_body ul.gform_fields li.gfield .ginput_container input, .gform_wrapper form .gform_body ul.gform_fields li.gfield .ginput_container textarea {
        transition: all 0.25s 0s ease-in-out; }
    .gform_wrapper form .gform_body ul.gform_fields li.gfield .clear-multi {
      display: flex; }
    .gform_wrapper form .gform_body ul.gform_fields li.gfield .ginput_left,
    .gform_wrapper form .gform_body ul.gform_fields li.gfield .ginput_right {
      width: 50%; }
    .gform_wrapper form .gform_body ul.gform_fields li.gfield .ginput_left {
      float: left;
      padding-right: 5px; }
    .gform_wrapper form .gform_body ul.gform_fields li.gfield .ginput_right {
      float: left;
      padding-left: 5px; }
    .gform_wrapper form .gform_body ul.gform_fields li.gfield_error {
      width: 100%;
      background-color: transparent;
      border: 0; }
      .gform_wrapper form .gform_body ul.gform_fields li.gfield_error .ginput_container {
        margin: 0;
        max-width: 100%;
        border: 0; }
        .gform_wrapper form .gform_body ul.gform_fields li.gfield_error .ginput_container input, .gform_wrapper form .gform_body ul.gform_fields li.gfield_error .ginput_container textarea {
          margin-bottom: 0;
          border: 2px solid #f54646;
          background-color: rgba(245, 70, 70, 0.1); }
          .gform_wrapper form .gform_body ul.gform_fields li.gfield_error .ginput_container input:focus, .gform_wrapper form .gform_body ul.gform_fields li.gfield_error .ginput_container textarea:focus {
            border-color: #7F909A; }
      .gform_wrapper form .gform_body ul.gform_fields li.gfield_error .gfield_description.validation_message {
        color: #f54646;
        font-size: 1rem; }
      .gform_wrapper form .gform_body ul.gform_fields li.gfield_error.gfield_contains_required div.gfield_description {
        max-width: 100%;
        margin: 0; }
  .gform_wrapper form .gform_footer {
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center; }
    .gform_wrapper form .gform_footer input[type="submit"] {
      margin: 0 auto;
      display: inline-block;
      transition: all 0.25s 0s ease-in-out; }
    .gform_wrapper form .gform_footer .gform_ajax_spinner {
      display: inline-block;
      margin: 0 0 0 10px; }
  .gform_wrapper form div.validation_error {
    background-color: #f54646;
    color: #FFFFFF;
    font-size: 1.4rem;
    font-weight: normal;
    text-align: center;
    margin-bottom: 0;
    border: none;
    padding: 26px;
    clear: both;
    width: 100%;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.25); }

div.gform_confirmation_wrapper {
  background-color: #5CB99C;
  color: #FFFFFF;
  font-size: 1.4rem;
  font-weight: normal;
  text-align: center;
  margin-bottom: 0;
  border: none;
  padding: 26px;
  clear: both;
  width: 100%;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.25); }

.gform_validation_container {
  display: none; }

.gform_wrapper .gfield_visibility_hidden,
.gform_wrapper .gf_invisible {
  visibility: hidden;
  position: absolute;
  left: -9999px; }

.ginput_container_date {
  position: relative; }

.ui-datepicker-trigger {
  position: absolute;
  top: 50%;
  right: 26px;
  transform: translateY(-50%) ;
  cursor: pointer; }

.ui-datepicker {
  height: auto;
  margin: 0;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  overflow: hidden; }

.ui-datepicker a {
  text-decoration: none; }

.ui-datepicker table {
  width: 100%;
  border-collapse: collapse; }

.ui-datepicker-header {
  background-color: #293439;
  color: #F6F8FB;
  min-height: 60px !important; }

.ui-datepicker-title {
  text-align: center;
  margin: 0 40px;
  padding: 10px 0; }

.ui-datepicker-title select {
  width: 45%;
  margin: 0 2.5%;
  float: left;
  height: 40px; }

.ui-datepicker-prev,
.ui-datepicker-next {
  display: inline-block;
  margin-top: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  line-height: 600%;
  overflow: hidden;
  position: relative; }
  .ui-datepicker-prev::before,
  .ui-datepicker-next::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;
    font-family: "FontAwesome";
    color: #F6F8FB; }

.ui-datepicker-prev {
  float: left;
  background-position: center -30px; }
  .ui-datepicker-prev::before {
    content: '\f104'; }

.ui-datepicker-next {
  float: right;
  background-position: center 0px; }
  .ui-datepicker-next::before {
    content: '\f105'; }

.ui-datepicker thead {
  background: #293439;
  border-bottom: 1px solid #bbb; }

.ui-datepicker th {
  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
  padding: 5px 0;
  letter-spacing: 1px;
  color: #F6F8FB; }

.ui-datepicker tbody td {
  padding: 0;
  border-top: 1px solid #bbb;
  border-right: 1px solid #bbb; }

.ui-datepicker tbody td:last-child {
  border-right: 0px; }

.ui-datepicker tbody tr {
  border-bottom: 1px solid #bbb; }

.ui-datepicker tbody tr:last-child {
  border-bottom: 0px; }

.ui-datepicker td span,
.ui-datepicker td a {
  display: inline-block;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #293439; }

.ui-datepicker-calendar .ui-state-default {
  background-color: #293439; }

.ui-datepicker-calendar .ui-state-hover {
  background: #14191b; }

.ui-datepicker-calendar .ui-state-active {
  background-color: #7F909A;
  border: 1px solid #293439;
  color: #F6F8FB;
  position: relative; }

.ui-datepicker-unselectable .ui-state-default {
  background: #f4f4f4;
  color: #b4b3b3; }

.ui-datepicker-calendar td:first-child .ui-state-active {
  width: 29px;
  margin-left: 0; }

.ui-datepicker-calendar td:last-child .ui-state-active {
  width: 29px;
  margin-right: 0; }

.ui-datepicker-calendar tr:last-child .ui-state-active {
  height: 29px;
  margin-bottom: 0; }

td.ui-datepicker-unselectable.ui-state-disabled {
  background-color: #d7d7d7; }

table.ui-datepicker-calendar {
  margin: 0 0 0 0 !important; }

body div#ui-datepicker-div[style] {
  z-index: 9999 !important; }

.gfield_time_hour,
.gfield_time_minute,
.gfield_time_ampm {
  width: 33.333%;
  padding-left: 5px;
  padding-right: 5px;
  flex-direction: row; }
  .gfield_time_hour:first-child,
  .gfield_time_minute:first-child,
  .gfield_time_ampm:first-child {
    padding-left: 0; }
  .gfield_time_hour:last-child,
  .gfield_time_minute:last-child,
  .gfield_time_ampm:last-child {
    padding-right: 0; }

.gfield_time_hour i {
  float: right;
  margin-right: -5px; }

.gform_fileupload_multifile {
  padding: 26px;
  background-color: #293439;
  border-radius: 5px; }
  .gform_fileupload_multifile .gform_drop_area {
    padding: 24px;
    border: 2px dashed black;
    text-align: center;
    color: black;
    border-radius: 5px; }
  .gform_fileupload_multifile .gform_button_select_files {
    display: block;
    width: 100%;
    background-color: #7F909A; }
    .gform_fileupload_multifile .gform_button_select_files:hover, .gform_fileupload_multifile .gform_button_select_files:focus {
      background-color: #293439;
      border: none; }

.ginput_preview {
  background-color: #3e4f57;
  border-radius: 5px;
  margin-top: 13px;
  position: relative;
  text-align: left;
  padding: 10px 26px; }
  .ginput_preview strong {
    font-weight: 300; }
  .ginput_preview .gform_delete {
    position: absolute;
    top: 50%;
    right: 26px;
    transform: translateY(-50%) ; }

.ginput_container_multiselect select {
  background-image: none !important;
  appearance: none;
  border: 1px solid inherit;
  border-radius: 5px;
  height: auto; }
  .ginput_container_multiselect select option {
    padding: 26px; }

.gfield_list {
  width: 100%; }
  .gfield_list .gfield_list_icons {
    width: 40px; }
    .gfield_list .gfield_list_icons img {
      display: inline-block; }

.ginput_container_address {
  text-align: left; }
  .ginput_container_address:after {
    content: '';
    display: table;
    clear: both; }

::selection {
  background: #FFF498; }

::-moz-selection {
  background: #FFF498; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: transparent; }

.icon-logo {
  margin: 0 auto;
  height: 60px; }
  .icon-logo path, .icon-logo circle {
    fill: white !important; }

.blue-bg {
  background-color: #293439;
  color: #FFFFFF; }
  .blue-bg h2 {
    color: #FFFFFF; }

.grey-bg {
  background-color: #7F909A;
  color: #FFFFFF; }
  .grey-bg h2 {
    color: #FFFFFF; }

.bg-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

/*
sections
-------------------------------------*/
.header {
  position: relative;
  text-align: right;
  background-color: #FFFFFF;
  height: 60px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.25); }
  .header .header-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem; }
    @media only screen and (min-width: 900px) {
      .header .header-container {
        font-size: 1.6rem; } }
  .header .logo {
    height: 100%;
    padding: 5px; }
    @media only screen and (min-width: 900px) {
      .header .logo {
        margin-left: 2%; } }
    .header .logo img {
      height: 100%; }
  .header .menu-cta {
    order: -1;
    padding: 17px;
    width: 100px;
    display: flex;
    justify-content: center;
    background-color: #293439;
    white-space: nowrap; }
    @media only screen and (min-width: 700px) {
      .header .menu-cta {
        order: 1; } }
    @media only screen and (min-width: 900px) {
      .header .menu-cta {
        width: 120px; } }
    .header .menu-cta a {
      color: white; }

.footer-form-wrapper {
  padding: 10% 0%; }
  @media only screen and (min-width: 700px) {
    .footer-form-wrapper {
      padding: 0px; } }

footer {
  padding: 26px 0;
  background-color: #293439;
  color: #F6F8FB; }
  footer .foot-detail {
    max-width: 90%;
    margin: auto; }

#menu-toggle {
  display: none; }

.site-navigation ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-left: 0; }
  .site-navigation ul li {
    margin-bottom: 0;
    position: relative; }
    .site-navigation ul li:hover > a {
      background-color: #14191b;
      color: white; }
    .site-navigation ul li a {
      display: block;
      text-decoration: none;
      cursor: pointer;
      color: #293439;
      padding: 20px 10px;
      line-height: 20px;
      font-weight: normal;
      transition: all 0.25s 0s ease-in-out; }
      @media only screen and (min-width: 900px) {
        .site-navigation ul li a {
          padding: 20px; } }
  .site-navigation ul .sub-menu {
    padding: 0px; }
    .site-navigation ul .sub-menu li:hover > a {
      color: #F6F8FB; }

.site-navigation .current_page_item > a,
.site-navigation .current-menu-item > a,
.site-navigation .current_page_ancestor > a {
  background-color: #14191b;
  color: #FFFFFF; }

.menu-button {
  position: relative;
  z-index: 9999;
  padding: 0;
  cursor: pointer;
  color: #293439;
  transition: all 0.5s ease-in-out;
  display: flex;
  align-items: center; }
  .menu-button > span {
    display: inline-block; }
  .menu-button .menu-trigger {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px; }
    .menu-button .menu-trigger:focus {
      width: 100%;
      height: 100%; }
    .menu-button .menu-trigger.menu-open {
      display: block; }
    .menu-button .menu-trigger.menu-close {
      display: none; }
  .menu-button .hamburger-icon {
    display: inline-block;
    background-color: #293439;
    height: 2px;
    width: 25px;
    margin: 10px;
    vertical-align: middle;
    position: relative;
    transition: background 0.3s 0.3s; }
    .menu-button .hamburger-icon:before, .menu-button .hamburger-icon:after {
      content: "";
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #293439; }
    .menu-button .hamburger-icon:before {
      top: -8px;
      transition: top 0.3s 0.3s ease-in-out, transform 0.3s 0s ease-in-out; }
    .menu-button .hamburger-icon:after {
      bottom: -8px;
      transition: bottom 0.3s 0.3s ease-in-out, transform 0.3s 0s ease-in-out; }

.container-all .header {
  position: fixed;
  width: 100%;
  z-index: 99; }

.site-navigation {
  background: #FFFFFF;
  width: 80%;
  top: 100%;
  right: -80%;
  flex-grow: 1;
  height: 100vh;
  overflow-y: scroll;
  position: absolute;
  transition: right 0.5s 0s ease-in-out;
  text-align: left;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.25);
  z-index: 5; }
  @media only screen and (min-width: 700px) {
    .site-navigation {
      box-shadow: none;
      display: inline; } }
  .site-navigation ul {
    list-style: none;
    width: 100%; }
    .site-navigation ul li {
      display: block; }
      .site-navigation ul li ul.sub-menu {
        position: static; }

#menu-toggle:target + .container-all .menu-button .menu-trigger.menu-close {
  display: block;
  width: 100%;
  height: 100%; }

#menu-toggle:checked + .container-all .site-navigation, #menu-toggle:target + .container-all .site-navigation {
  display: block;
  width: 80%;
  right: 0; }
  #menu-toggle:checked + .container-all .site-navigation #primary-menu li, #menu-toggle:target + .container-all .site-navigation #primary-menu li {
    transform: translateX(0);
    opacity: 1; }

#menu-toggle:checked + .container-all .menu-button .menu-trigger.menu-open, #menu-toggle:target + .container-all .menu-button .menu-trigger.menu-open {
  display: none; }

#menu-toggle:checked + .container-all .menu-button .menu-trigger.menu-close, #menu-toggle:target + .container-all .menu-button .menu-trigger.menu-close {
  display: block; }

#menu-toggle:checked + .container-all .menu-button .hamburger-icon, #menu-toggle:target + .container-all .menu-button .hamburger-icon {
  background-color: rgba(246, 248, 251, 0);
  transition: background 0s 0.3; }
  #menu-toggle:checked + .container-all .menu-button .hamburger-icon:before, #menu-toggle:target + .container-all .menu-button .hamburger-icon:before {
    top: 0;
    transform: rotate(45deg);
    transition: top 0.3s ease-in-out, transform 0.3s 0.3s ease-in-out; }
  #menu-toggle:checked + .container-all .menu-button .hamburger-icon:after, #menu-toggle:target + .container-all .menu-button .hamburger-icon:after {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 0.3s ease-in-out, transform 0.3s 0.3s ease-in-out; }

@media only screen and (min-width: 700px) {
  .site-navigation {
    position: static;
    height: auto;
    opacity: 1;
    overflow: visible;
    text-align: right; }
    .site-navigation ul li {
      display: inline-block; }
      .site-navigation ul li:hover > .sub-menu {
        left: 0; }
      .site-navigation ul li ul.sub-menu {
        position: absolute;
        top: 100%;
        left: -999em;
        z-index: 99999;
        background-color: #F6F8FB; }
  .menu-button {
    display: none; } }

/*
modules
-------------------------------------*/
.hero-slider {
  height: calc(100vh - 60px); }
  @media only screen and (min-width: 700px) {
    .hero-slider {
      height: 600px; } }
  .hero-slider .slide {
    position: relative; }
  .hero-slider .slide-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    bottom: 0;
    padding: 3% 5%;
    background-color: rgba(41, 52, 57, 0.6); }
    @media only screen and (min-width: 700px) {
      .hero-slider .slide-content {
        min-height: 50%;
        width: 60%; } }
    .hero-slider .slide-content-inner {
      margin-top: 26px;
      color: white; }
      .hero-slider .slide-content-inner h1, .hero-slider .slide-content-inner h4 {
        color: white;
        margin: 0; }
      .hero-slider .slide-content-inner h4 {
        margin-top: 26px;
        display: none; }
        @media only screen and (min-width: 700px) {
          .hero-slider .slide-content-inner h4 {
            display: block; } }
    .hero-slider .slide-content .slider-buttons {
      display: flex;
      flex-direction: column;
      width: 60%; }
      @media only screen and (min-width: 700px) {
        .hero-slider .slide-content .slider-buttons {
          flex-direction: row;
          width: 100%; } }
      .hero-slider .slide-content .slider-buttons button {
        border: 1px solid rgba(250, 250, 250, 0.8);
        margin-right: 13px;
        color: white; }
        .hero-slider .slide-content .slider-buttons button:hover {
          background-color: white;
          color: #293439; }
    .hero-slider .slide-content .hero-nav {
      width: 50%;
      align-self: baseline;
      margin-top: 26px; }
      @media only screen and (min-width: 700px) {
        .hero-slider .slide-content .hero-nav .quicknav {
          bottom: 0;
          display: flex;
          align-items: center;
          height: 50px; }
          .hero-slider .slide-content .hero-nav .quicknav button {
            width: 10px;
            height: 10px;
            background-color: white;
            border: none;
            padding: 0px;
            border-radius: 50%;
            margin-right: 3%;
            opacity: 0.6;
            margin-top: 0px; }
          .hero-slider .slide-content .hero-nav .quicknav .selected {
            width: 15px;
            height: 15px;
            opacity: 1; } }

.textarea-wrapper {
  display: flex;
  margin: 10% 0%; }
  .textarea-wrapper h2 {
    margin-bottom: 26px; }
  .textarea-wrapper p:first-of-type {
    margin-top: 0px; }
  @media only screen and (min-width: 700px) {
    .textarea-wrapper {
      margin: 0px; } }

.container-side {
  width: 100%;
  padding: 10% 5%; }
  @media only screen and (min-width: 700px) {
    .container-side {
      width: 70%; } }

.textarea-img-wrapper {
  display: none; }

@media only screen and (min-width: 700px) {
  .textarea-img-wrapper {
    width: 30%;
    display: flex;
    overflow: hidden; }
    .textarea-img-wrapper img {
      align-self: center;
      height: 100%;
      width: 100%;
      object-fit: cover; }
  .textarea-wrapper:nth-child(odd) .container-side {
    order: -1; } }

.iconset-wrapper {
  margin: auto;
  padding: 0% 5% 5% 5%;
  max-width: 700px; }

/* ICON SET */
.iconset-inner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around; }

.iconset-single {
  position: relative;
  margin: 20px;
  max-width: 100px;
  text-align: center;
  display: flex;
  flex-direction: column; }

.iconset-single i {
  margin-bottom: 15%;
  font-size: 200%; }

.slider-wrapper {
  position: relative;
  padding-top: 26px;
  padding-bottom: 26px;
  background-color: #F6F8FB; }

.slider-inner {
  position: relative;
  height: 500px; }

.slider {
  width: 90%;
  margin: auto; }
  .slider .slide {
    padding: 20px; }

.slider-wrapper .slider-nav {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0; }
  .slider-wrapper .slider-nav .slider-lr {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%; }
    .slider-wrapper .slider-nav .slider-lr button {
      height: 100%;
      width: 50%;
      border: 0px;
      margin-top: 0;
      background: #3b3b3b;
      background: linear-gradient(90deg, #3b3b3b 0%, rgba(65, 65, 65, 0.8) 30%, rgba(127, 127, 127, 0.7) 60%, rgba(255, 255, 255, 0) 100%);
      opacity: 0; }
      .slider-wrapper .slider-nav .slider-lr button:hover {
        opacity: 0.6; }
      .slider-wrapper .slider-nav .slider-lr button:last-child {
        background: #3b3b3b;
        background: linear-gradient(270deg, #3b3b3b 0%, rgba(65, 65, 65, 0.8) 30%, rgba(127, 127, 127, 0.7) 60%, rgba(255, 255, 255, 0) 100%);
        display: flex;
        justify-content: flex-end; }

.imagetext-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0% 5%; }
  @media only screen and (min-width: 700px) {
    .imagetext-wrapper {
      padding-bottom: 5%; } }

.imagetext-single {
  display: flex;
  flex-direction: column; }
  @media only screen and (min-width: 700px) {
    .imagetext-single {
      flex-direction: row;
      padding-bottom: 5%; } }
  .imagetext-single .imagetext-img-wrapper {
    width: 100%;
    min-height: 300px;
    overflow: hidden;
    display: flex;
    position: relative; }
    @media only screen and (min-width: 700px) {
      .imagetext-single .imagetext-img-wrapper {
        min-height: 400px; } }
    .imagetext-single .imagetext-img-wrapper img {
      align-self: center;
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .imagetext-single .imagetext-single-content {
    width: 100%;
    position: relative;
    margin: 10% 0%; }
    .imagetext-single .imagetext-single-content .imagetext-single-inner {
      padding: 5% 0%; }
      @media only screen and (min-width: 700px) {
        .imagetext-single .imagetext-single-content .imagetext-single-inner {
          width: 65%;
          padding: 0px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) ; } }

@media only screen and (min-width: 700px) {
  .imagetext-single:nth-child(odd) .imagetext-img-wrapper {
    order: 1; } }

.tes-wrapper {
  padding: 10% 0%; }
  .tes-wrapper .container {
    text-align: center; }
    .tes-wrapper .container .tes-inner {
      align-items: center; }
    .tes-wrapper .container h2 {
      margin-top: 26px;
      margin-bottom: 26px; }
  .tes-wrapper .slider-nav {
    position: relative; }
    .tes-wrapper .slider-nav .slider-lr button {
      margin-top: 0px;
      margin: 0% 5%; }

/*
pages
-------------------------------------*/
body.home section.hero-image {
  height: calc(100vh - 60px - 5px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  body.home section.hero-image .container {
    position: relative;
    height: 100%;
    text-align: center; }
    body.home section.hero-image .container .content-wrap {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) ;
      width: 100%; }
      body.home section.hero-image .container .content-wrap .icon-logo {
        width: calc(50% - 30px);
        float: left;
        margin-left: 20px;
        left: calc(25% - 25px + 20px);
        position: relative;
        height: auto; }
      body.home section.hero-image .container .content-wrap h2 {
        font-size: 3.5rem;
        color: #FFFFFF;
        display: inline-block; }

/*
overrides
-------------------------------------*/
.fl {
  float: left; }

.fr {
  float: right; }

.fn {
  float: none; }

.clearfix::after {
  content: '';
  display: table;
  clear: both; }

.clearnone {
  clear: none !important; }

.sr-only,
.screen-reader-text {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }
  .sr-only.show-on-focus:focus,
  .screen-reader-text.show-on-focus:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    width: auto;
    top: 0;
    left: 0;
    outline: 2px solid #293439;
    z-index: 102; }

body .jump-to-content {
  padding: 26px;
  background-color: #F6F8FB; }

/* moves the menu down slightly when the admin bar displays */
