body.login {
  background-color: #F6F8FB; }
  body.login h1 a {
    background-position: center;
    height: 200px;
    width: 150px;
    background-size: 150px;
    margin: auto; }
  body.login label {
    color: #293439;
    font-weight: 700; }
  body.login input[type="text"],
  body.login input[type="password"],
  body.login input#rememberme {
    background-color: #ffffff;
    border: #293439 2px solid; }
  body.login .button-primary {
    float: right;
    background-color: #293439;
    color: #ffffff;
    border-radius: 0px;
    border: none;
    box-shadow: none;
    text-shadow: none; }
    body.login .button-primary:hover, body.login .button-primary:active, body.login .button-primary:focus {
      background-color: #14191b;
      border: none;
      box-shadow: none; }
  body.login #nav,
  body.login #backtoblog {
    text-align: center; }
