html { padding: 10px !important; }

/*
1-dependencies
-------------------------------------*/

@import '1-dependencies/reset';
@import '1-dependencies/vars';
@import '1-dependencies/mixins';
@import '2-basics/typography';
* {
	font-family: $copy;
}
body {
	font-size: $base_font_size;
	line-height: 1.6;
	font-family: $copy;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}
